@{
    ViewData["Title"] = "Home Page";
    @model bool;
}

<div class="text-center">
    
    @if (User.Identity.IsAuthenticated)
    {
        <div class="container">
            <div class="row m-3">
                <div class="col">
                    <h1 class="text-dark">Welcome To Dealerlead!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-dark">Dealerlead is the <em>#1 lead tracking app</em> for car dealerships!</p>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <a class="btn btn-dark w-25" asp-controller="SupportedStates" asp-action="Index">Supported States</a>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <a class="btn btn-dark w-25" asp-controller="SupportedMakes" asp-action="Index">Supported Makes</a>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <a class="btn btn-dark w-25" asp-controller="SupportedModels" asp-action="Index">Supported Models</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row m-3">
                <div class="col">
                    <h1 class="text-dark">Welcome To Dealerlead!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-dark">Sign in to access Dealerlead.</p>
                </div>
            </div>
        </div>
    }
</div>
